@{
    ViewData["Title"] = "Home Page";
}
<div style="padding-bottom:20px;"><h1>Did you learned anything new in this session so far?</h1></div>
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    
    <div class="carousel-inner" role="listbox">
        <div class="lablediv">
            <a class="PollLable" href="#">
                YES
            </a>
        </div>
        <div class="lablediv">
            <a class="PollLable" href="#">
                NO
            </a>
        </div>
        <div style="clear:both"></div>
    </div>
    
</div>


