<div>
    <div class="PollLable">
        <label>Yes :</label>
        <label>@ViewData["YesPercent"]%</label>
    </div>
    <div class="PollLable">
        <label>No :</label>
        <label>@ViewData["NoPercent"]%</label>
    </div> 

    <div class="PollLable">
        <label>Total Polls :</label>
        <label>@ViewData["total"]</label>
    </div> 
</div>
